<!-- used Bootstrap footer template from: https://mdbootstrap.com/docs/standard/navigation/footer/ -->
<div class="cover-container links-primary">
  <footer class="text-center text-lg-start text-white" style="background-color: #45526e"          >
    <div class="container p-5 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Project Information
            </h6>
            <%= link_to root_path do %>
              <%= image_tag("logo.png", :alt => "logo", :class => "logo-footer float-start mb-3", width: "50", height: "48") %>
            <% end %>
            <p>
              The Holidays Management System is a project developed by <a href="https://www.linkedin.com/in/jarek-polowy/" target="_blank" rel= "noreferrer">Jarek Polowy</a>.
              Navigate to the <%= link_to 'About', home_about_path %> page to learn more. This instance of the application is for demonstration purposes only.
            </p>
          </div>

          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Navigation
            </h6>
            <p>
              <%= link_to 'Home', root_path %>
            </p>
            <p>
              <%= link_to 'About HMS', home_about_path %>
            </p>
            <p>
              <%= link_to 'Register', new_user_registration_path %>
            </p>
            <p>
              <%= link_to 'Sign In', new_user_session_path %>
            </p>
          </div>

          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Holidays
            </h6>
            <p>
              <%= link_to 'View Calendar', home_calendar_path %>
            </p>
            <p>
              <%= link_to 'Create Holiday Request', events_path %>
            </p>
            <p>
              <%= link_to 'Manage account', edit_user_registration_path %>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Holidays Management System</p>
            <p><i class="fas fa-envelope mr-3"></i>E: contact@hms.com</p>
            <p><i class="fas fa-phone mr-3"></i>T: + 353 01 23456</p>
            <p><i class="fas fa-print mr-3"></i>M: + 353 087 6543210</p>
          </div>

          <hr class="w-100 clearfix d-md-none" />
        </div>
      </section>

      <hr class="my-3">

      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-6 text-center text-md-start">
            <div class="p-3">
              © 2022 Copyright:
              <a class="text-white" href="https://holidays-management.herokuapp.com">Holidays Management System</a>
              <p><span class="pictures-credits text-white">Homepage theme image by Walkerssk via <a href="https://pixabay.com/photos/beach-paradise-island-palm-trees-1761410/" target="_blank" rel= "noreferrer">pixabay.com</a>, 
              Calendar image by Samuel1983 via <a href="https://pixabay.com/illustrations/icon-calendar-stylized-1549619/" target="_blank" rel= "noreferrer">pixabay.com</a></span></p>
            </div>
          </div>

          <div class="col-md-5 col-lg-6 ml-lg-0 text-center text-md-end">
            <a class="btn btn-primary btn-floating m-1 btn-s-media" style="background-color: #333333; color: #fff;" href="https://github.com/JarekPo/holidays" role="button" target="_blank" rel= "noreferrer"><i class="fab fa-github">GitHub</i></a>
            <a class="btn btn-primary btn-floating m-1 btn-s-media" style="background-color: #0082ca; color: #fff;" href="https://www.linkedin.com/in/jarek-polowy/" role="button" target="_blank" rel= "noreferrer"><i class="fab fa-linkedin-in">LinkedIn</i></a>
            <a class="btn btn-primary btn-floating m-1 btn-s-media" style="background-color: #55acee; color: #fff;" href="https://twitter.com" role="button"  target="_blank" rel= "noreferrer"><i class="fab fa-twitter">Twiter</i></a>
            <a class="btn btn-primary btn-floating m-1 btn-s-media" style="background-color: #3b5998; color: #fff;" href="https://facebook.com" role="button" target="_blank" rel= "noreferrer"><i class="fab fa-facebook-f">Facebook</i></a>
            <a class="btn btn-primary btn-floating m-1 btn-s-media-google" style="background-color: white" href="https://www.google.com" role="button"  target="_blank" rel= "noreferrer">
              <i class="fab fa-google" style="font-weight: bold"></span><span style="color: #4285f4;">G</span><span style="color: #ea4335;">o</span><span style="color: #fbbc05;">o</span><span style="color: #4285f4;">g</span><span style="color: #34a853;">l</span><span style="color: #ea4335;">e</span></i>
            </a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>
