<div class="wrapper-home text-center">
    <main class="px-3 home-main"><br/>
        
        <h1 class="home-lead">Holidays Management System</h1>
    </main>

	<% if user_signed_in? %>
		<% if current_user.admin == true %>
			<div class="btn btn-lg btn-secondary btn-lg-primary fw-bold">
	            <%= link_to "View Holidays Calendar", home_calendar_path %>
	        </div>
	        <div class="btn btn-lg btn-secondary btn-lg-primary fw-bold">
	            <%= link_to "Manage Calendar Entries", requests_path %>
	        </div>
		<% else %>
	        <div class="btn btn-lg btn-secondary btn-lg-primary fw-bold">
	            <%= link_to "Create Holiday Request", new_event_path %>
	        </div>
	        <div class="btn btn-lg btn-secondary btn-lg-primary fw-bold">
	            <%= link_to "View Calendar", home_calendar_path %>
	        </div>
	    <% end %>
    <% else %>
        <div class="btn btn-lg btn-secondary btn-lg-primary fw-bold">
            <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
        </div>
        <div class="btn btn-lg btn-secondary btn-lg-primary fw-bold">
            <%= link_to 'Register', new_user_registration_path, class:"nav-link" %>
        </div>
    <% end %>
</div>
   