<div id="<%= dom_id event %>" class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= event.notes %>
  </p>

  <p>
    <strong>Start date (The first day you will not be present):</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date (The last day you will not be present):</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Request submited on: </strong>
    <%= event.created_at %>
  </p>

</div>
