<h1 id="header" style="position:relative" class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">Holiday Requests</h1>
<span class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4 links-secondary">
  <%= link_to "New Holiday Request", new_event_path %>
</span>
<div id="events" class="wrapper-requests">
  <% @events.each do |event| %>
    <% if event.user == current_user %>
      <hr class="container" />
      <%= render event %>
      <p class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4 links-secondary">
        <%= link_to "Show This Holiday Request", event %>
      </p>
    <% end %>
  <% end %>

  <% @events.each do |event| %>
    <% if current_user.admin == true %>
      <hr class="container" />
      <%= render event %>
      <p class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4 links-secondary">
        <%= link_to "Show This Holiday Request", event %>
      </p><br/>
    <% end %>
  <% end %>
</div>
<script> 
$(document).ready(function(){
    $("#header").animate({bottom: '40px'}, 600);
  });
</script>



