<p style="color: green"><%= notice %></p>

<h1>Holiday Requests</h1>

<%= link_to "New Holiday Request", new_event_path %>

<div id="events">
  <% @events.each do |event| %>
    <% if event.user == current_user %>
      <%= render event %>
      <p>
        <%= link_to "Show This Holiday Request", event %>
      </p>
    <% end %>
  <% end %>

  <% @events.each do |event| %>
    <% if current_user.admin == true %>
      <%= render event %>
      <p>
        <%= link_to "Show This Holiday Request", event %>
      </p>
    <% end %>
  <% end %>
</div>



