<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit This Holiday Request", edit_event_path(@event) %> |
  <%= link_to "Back To Holiday Requests", events_path %>

  <%= button_to "Cancel This Request", @event, method: :delete %>
</div>
