<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label "Employee Name", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label "Notes", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label :end_date, style: "display: block" %>
    <%= form.datetime_field :end_date %>
  </div>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.submit "Submit" %>
  </div>
<% end %>
