<div id="<%= dom_id request %>" class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">
  <p>
    <strong>Employee Name:</strong>
    <%= request.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= request.description %>
  </p>

  <p>
    <strong>Start date (The first day the employee will not be present):</strong>
    <%= request.start_date %>
  </p>

  <p>
    <strong>End date (The last day the employee will not be present):</strong>
    <%= request.end_date %>
  </p>

  <p>
    <strong>Holiday added on: </strong>
    <%= request.created_at %>
  </p>
</div>
