<div id="<%= dom_id request %>">
  <p>
    <strong>Title:</strong>
    <%= request.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= request.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= request.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= request.end_date %>
  </p>

</div>
