
<% if user_signed_in? %>
  <% if current_user.admin == true %>
    <h1 id="header" style="position:relative" class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">Approved Holidays</h1>
    <span class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4 links-secondary">
      <%= link_to "Add Holiday To Calendar", new_request_path %>
    </span>
    <div id="requests" class="wrapper-approved">
      <% @requests.each do |request| %>
        <hr class="container" />
        <%= render request %>
        <p  class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4 links-secondary">
        <%= link_to "Show This Holiday", request %>
        </p><br/>
      <% end %>
    </div>
  <% else %>
    <h1 id="header" style="position:relative" class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">Approved Holidays</h1>
    <span class="col-md-10 col-lg-8 col-xl-6 mx-auto mb-4 links-secondary">
      <%= link_to "Back", :back %>
    </span>
    <div id="requests" class="wrapper-approved">
      <% @requests.each do |request| %>
        <hr class="container" />
        <%= render request %>
        <br/>
      <% end %>
    </div>
  <% end %>
<% end %>

<script> 
$(document).ready(function(){
    $("#header").animate({bottom: '40px'}, 600);
	$(".btn1").fadeIn(900);
	$(".btn1").animate({top: '90px'}, 200)
	$(".btn2").fadeIn(1300);
	$(".btn2").animate({top: '90px'}, 200)
  });
</script>

