
<%= render @request %>

<div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4 links-secondary">
  <%= link_to "Edit This Holiday", edit_request_path(@request) %>
  <%= link_to "Back to Approved Holidays", requests_path %>
  <%= link_to "Show Calendar", home_calendar_path %>
  <%= button_to "Delete this Holiday", @request, method: :delete, class:"btn btn-sm-primary mt-4" %>
</div>
