<h2 id="header" style="position:relative" class="field col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">
    <%= f.label :password, class:"form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions col-md-10 col-lg-8 col-xl-6 mx-auto mb-4">
    <%= f.submit "Log in", class:"btn btn-sm-primary mb-4" %>
  </div>
<% end %>

<div class="field col-md-10 col-lg-8 col-xl-6 mx-auto mb-4 links-secondary">
  <%= render "devise/shared/links" %>
</div>
<script> 
  $(document).ready(function(){
    $("#header").animate({bottom: '40px'}, 600);
  });
</script>